In [1]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [3]:
df=pd.read_csv("BritishAirlinesData.csv")
lemmatizer=WordNetLemmatizer()
stop_words=set(stopwords.words('english'))
df

     Unnamed: 0                                            reviews
0             0  ✅ Trip Verified |   Flight mainly let down by ...
1             1  ✅ Trip Verified |   Another awful experience b...
2             2  ✅ Trip Verified |   The service was rude, full...
3             3  ✅ Trip Verified |   This flight was a joke. Th...
4             4  ✅ Trip Verified |   This time British Airways ...
..          ...                                                ...
995         995  ✅ Trip Verified | Mahe to Stockholm via London...
996         996  ✅ Trip Verified |  Glasgow to Tampa via Gatwic...
997         997  Not Verified |  Orlando to Gatwick. Travelling...
998         998  ✅ Trip Verified |  London to Abu Dhabi. This i...
999         999  ✅ Trip Verified |  London to St Petersburgh. H...

[1000 rows x 2 columns]

In [17]:
df['cleaned']=df['reviews'].apply(
    lambda text:' '.join([
        lemmatizer.lemmatize(word) 
        for word in re.sub(r'[^a-z\s]','',str(text).lower()).split() 
        if word not in stop_words
    ])
)
df

,Unnamed: 0,reviews,cleaned
0,0,✅ Trip Verified | Flight mainly let down by ...,trip verified flight mainly let disagreeable f...
1,1,✅ Trip Verified | Another awful experience b...,trip verified another awful experience british...
2,2,"✅ Trip Verified | The service was rude, full...",trip verified service rude full attitude food ...
3,3,✅ Trip Verified | This flight was a joke. Th...,trip verified flight joke four people business...
4,4,✅ Trip Verified | This time British Airways ...,trip verified time british airway managed get ...
...,...,...,...
995,995,✅ Trip Verified | Mahe to Stockholm via London...,trip verified mahe stockholm via london checke...
996,996,✅ Trip Verified | Glasgow to Tampa via Gatwic...,trip verified glasgow tampa via gatwick early ...
997,997,Not Verified | Orlando to Gatwick. Travelling...,verified orlando gatwick travelling home extre...
998,998,✅ Trip Verified | London to Abu Dhabi. This i...,trip verified london abu dhabi daytime flight ...
999,999,✅ Trip Verified | London to St Petersburgh. H...,trip verified london st petersburgh huge disap...

In [14]:
df.dropna(subset=['cleaned'], inplace=True)
df.head()

,Unnamed: 0,reviews,cleaned
0,0,✅ Trip Verified | Flight mainly let down by ...,trip verified flight mainly let disagreeable f...
1,1,✅ Trip Verified | Another awful experience b...,trip verified another awful experience british...
2,2,"✅ Trip Verified | The service was rude, full...",trip verified service rude full attitude food ...
3,3,✅ Trip Verified | This flight was a joke. Th...,trip verified flight joke four people business...
4,4,✅ Trip Verified | This time British Airways ...,trip verified time british airway managed get ...

In [15]:
df.to_csv('CleanedFile.csv', index=False)